<!-- Second Option -->
<div class="container">
    <div class="row">
        <!-- <div class="col-md-4 mt-5">
        </div> -->
        <!-- <section class="col-sm mt-5">
        </section> -->
        <div class="card mt-5">
            <div class="card-body">
                <form #productForm= "ngForm" (ngSubmit)="onSubmit(productForm)">
                    <h5 class="ml-2">PEDIDO</h5>
                    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productService.selectedProduct.$key">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success mb-2 m-2" name="cafe" category="drink" price:1000   #cafe="ngModel" 
                            [(ngModel)]="productService.selectedProduct.cafe">Café Americano
                        </button>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success mb-2 m-2" name="cafeleche" category="drink" price:1000   #cafeleche="ngModel" 
                            [(ngModel)]="productService.selectedProduct.cafeleche">Café con Leche
                        </button>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success mb-2 m-2" name="jugo" category="drink" price:1000   #jugo="ngModel" 
                            [(ngModel)]="productService.selectedProduct.jugo">Jugo Natural
                        </button>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success mb-2 m-2" name="sandwich" category="food" price:1000   #sandwich="ngModel" 
                            [(ngModel)]="productService.selectedProduct.sandwich">Sandwich de Jamón y Queso
                        </button>    
                    </div>
                    <div class="form-group">
                        <button class="btn btn-warning" type="submit">
                            <i class="fas fa-check-circle"></i> Agregar Pedido
                        </button>
                        <!-- <button class="btn btn-secondary" type="reset" (click)="reserForm(productForm)">
                            <i class="fas fa-sync-alt"></i> Borrar
                        </button> -->
                    </div>   
                    </form>
                </div>
            </div>
            <div class="col-sm text-center mt-5">
                <h2> Ñam! Desayuno?...{{ title }}</h2>
                <img width="200" alt="Burger Logo" src="https://i.ibb.co/6Xt3x4K/BURGUER-QUEEN3-PNG.png">
            </div>
            <!-- <div class="col-md-5 text-center mt-5">
                <app-product-list></app-product-list>
            </div> -->
            <!-- <section class="col-sm mt-5">
            </section> -->
            <div class="card mt-5">
                <div class="card-body">
                    <form>
                        <h5 class="ml-2">RESUMEN</h5>
                        <div class="form-group">
                            <ul *ngFor="let product of productList">
                                <li>{{product.cafe}}</li>
                                <li>{{product.cafeleche}}</li>
                                <li>{{product.jugo}}</li>
                                <a class="btn btn-secondary text-while" (click)="onEdit(product)">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn btn-danger text-while" (click)="onDelete(product.$key)">
                                    <i class="fas fa-trash-alt"></i>                            
                                </a>
                            </ul>
                            <input>
                        </div>
                    </form>
                    <p id="total">Total Pedido:$</p>
                    <div class="row">
                        <!-- <button type="button" class="btn btn-success mb-2 clean m-2">Borrar</button> -->
                        <!-- <button type="button" class="btn btn-success mb-2 send m-2">Enviar a Cocina</button> -->
                        <button class="btn btn-warning" type="submit" mb-2 m-2>
                            <i class="fas fa-check-circle"></i> Enviar a Cocina
                        </button>
                        <button class="btn btn-danger" type="reset" mb-2 m-2 (click)="reserForm(productForm)">
                            <i class="fas fa-ban"></i> Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
