<!-- Landing -->
<div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- <app-carousel></app-carousel> -->
            </div>
            <div class="col-md-3 text-center mt-5">
                <h2> Welcome</h2>
                <img width="200" alt="Burger Logo" src="https://i.ibb.co/6Xt3x4K/BURGUER-QUEEN3-PNG.png">
            </div>
            <div class="col-md-5 text-center">
                <!-- <app-product-list></app-product-list> -->
            </div>
        </div>
    </div>
 
