<!-- First Option -->
<div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt-4">
                <h2> Ñam! Vamos a elegir...{{ title }}</h2>
                <img width="200" alt="Burger Logo" src="https://i.ibb.co/6Xt3x4K/BURGUER-QUEEN3-PNG.png">
                <div class="form-group">
                    <button class="btn btn-success" style="margin-left: 10px">
                        <a routerLink="/breakfast" routerLinkActive="active">
                            <h5>Desayuno</h5>
                        </a>
                    </button>
                    <button class="btn btn-success" style="margin-left: 10px">
                        <a routerLink="/menu" routerLinkActive="active">
                            <h5>Menú del Día</h5>
                        </a>
                    </button>
                    <button class="btn btn-success" style="margin-left: 10px">
                        <a routerLink="/home" routerLinkActive="active">
                            <i class="fal fa-caret-circle-left"></i><h5>Regresar</h5>
                        </a>
                    </button>
                </div>                
            </div>
        </div>
    </div>
