<div class="card mt-2">
    <div class="card-body">
        <h6 class="text-center">Lista de Productos</h6>
        <table class="table table-sm table-hover">
            <tbody>
                <tr *ngFor="let product of productList">
                    <td>{{product.name}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.price}}</td>
                    <a class="btn btn-secondary text-while" (click)="onEdit(product)">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-danger text-while" (click)="onDelete(product.$key)">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </tr>
            </tbody>
        </table>
    </div>
</div>
