* {
padding: 0%;
margin: 0%;
}

body {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-image: url(https://image.freepik.com/foto-gratis/pano-cocina-mesa-madera_74190-968.jpg);
    background-repeat: no-repeat;
}